{% extends 'main/base.html' %}

{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">
                Офис МСК<br>
                Офис СПБ
            </p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3>Напишите нам</h3>
            <form method="post">
                {% csrf_token %}
                <input class="form-control mb-2" name="name"/>
                <input class="form-control mb-2" name="email"/>
                <textarea class="form-control mb-2" name="message"></textarea>
                <button type="submit" class="btn btn-primary form-control">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
