{% extends 'main/base.html' %}


{% block content_1 %}

    <div class="row py-lg-2">
        <div class="col-lg-11 col-md-8 mx-auto">
            <a class="btn btn-outline-primary" href="{% url 'main:create_student' %}">Создать студента</a>
        </div>
    </div>

{% endblock %}


{% block content %}

    {% for object in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">{{ object }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                href="{% url 'main:view_student' pk=object.id %}">View</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                href="{% url 'main:update_student' pk=object.id %}">Edit</a>
                        {% if perms.main.delete_student %}
                        <a type="button" class="btn btn-sm btn-outline-danger"
                                href="{% url 'main:delete_student' pk=object.id %}">Delete</a>
                        {% endif %}
                    </div>
                    {% if object.is_active %}
                        <a class="btn btn-warning" href="{% url 'main:toggle_activity' pk=object.id %}">Деактивировать</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'main:toggle_activity' pk=object.id %}">Активировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
