{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">Имя - {{ student.first_name }}</p>
            <p class="card-text">Фамилия - {{ student.last_name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
            </div>
        </div>
    </div>
    <br>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Предметы студента
                </h4>
            </div>
            <div class="card-body">
                <ul>
                    {% for subject in subjects %}
                    <li>{{ subject }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<div class="col-12">
    <img src="/media/{{ object.avatar }}"/>
</div>

{% endblock %}